doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Shop Homepage - Start Bootstrap Template

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Bootstrap icons
        link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body

        // Navigation
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container.px-4.px-lg-5
                a.navbar-brand(href='#!') Start Bootstrap
                button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarSupportedContent.collapse.navbar-collapse
                    ul.navbar-nav.me-auto.mb-2.mb-lg-0.ms-lg-4
                        li.nav-item
                            a.nav-link.active(aria-current='page' href='#!') Home
                        li.nav-item
                            a.nav-link(href='#!') About
                        li.nav-item.dropdown
                            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
                                | Shop
                            ul.dropdown-menu(aria-labelledby='navbarDropdown')
                                li
                                    a.dropdown-item(href='#!') All Products
                                li
                                    hr.dropdown-divider
                                li
                                    a.dropdown-item(href='#!') Popular Items
                                li
                                    a.dropdown-item(href='#!') New Arrivals
                    form.d-flex
                        button.btn.btn-outline-dark(type='submit')
                            i.bi-cart-fill.me-1
                            | Cart
                            span.badge.bg-dark.text-white.ms-1.rounded-pill 0

        // Header
        header.bg-dark.py-5
            .container.px-4.px-lg-5.my-5
                .text-center.text-white
                    h1.display-4.fw-bolder Shop in style
                    p.lead.fw-normal.text-white-50.mb-0 With this shop hompeage template

        // Section
        section.py-5
            .container.px-4.px-lg-5.mt-5
                .row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Fancy Product
                                    // Product price
                                    | $40.00 - $80.00
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') View options
                    .col.mb-5
                        .card.h-100
                            // Sale badge
                            .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Sale
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Special Item
                                    // Product reviews
                                    .d-flex.justify-content-center.small.text-warning.mb-2
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                    // Product price
                                    span.text-muted.text-decoration-line-through $20.00
                                    | $18.00
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    .col.mb-5
                        .card.h-100
                            // Sale badge
                            .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Sale
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Sale Item
                                    // Product price
                                    span.text-muted.text-decoration-line-through $50.00
                                    | $25.00
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Popular Item
                                    // Product reviews
                                    .d-flex.justify-content-center.small.text-warning.mb-2
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                    // Product price
                                    | $40.00
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    .col.mb-5
                        .card.h-100
                            // Sale badge
                            .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Sale
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Sale Item
                                    // Product price
                                    span.text-muted.text-decoration-line-through $50.00
                                    | $25.00
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Fancy Product
                                    // Product price
                                    | $120.00 - $280.00
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') View options
                    .col.mb-5
                        .card.h-100
                            // Sale badge
                            .badge.bg-dark.text-white.position-absolute(style='top: 0.5rem; right: 0.5rem;') Sale
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Special Item
                                    // Product reviews
                                    .d-flex.justify-content-center.small.text-warning.mb-2
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                    // Product price
                                    span.text-muted.text-decoration-line-through $20.00
                                    | $18.00
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Add to cart
                    .col.mb-5
                        .card.h-100
                            // Product image
                            img.card-img-top(src='https://dummyimage.com/450x300/dee2e6/6c757d.jpg', alt='...')
                            // Product details
                            .card-body.p-4
                                .text-center
                                    // Product name
                                    h5.fw-bolder Popular Item
                                    // Product reviews
                                    .d-flex.justify-content-center.small.text-warning.mb-2
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                        .bi-star-fill
                                    // Product price
                                    | $40.00
                            // Product actions
                            .card-footer.p-4.pt-0.border-top-0.bg-transparent
                                .text-center
                                    a.btn.btn-outline-dark.mt-auto(href='#') Add to cart

        // Footer
        footer.py-5.bg-dark
            .container
                p.m-0.text-center.text-white Copyright &copy; Your Website 2021

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')